.detalleContainer {
    max-width: 600px;
    padding: 16px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
}
.detalleWrapper {
    display: flex;
    flex-direction: row; /* Lado a lado */
    gap: 24px;
    align-items: flex-start;
    flex-wrap: wrap; /* Permite responsividad */
    justify-content: center;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto; /* ← Esto centra horizontalmente */
}
.col1 {
    flex: 2;
    min-width: 300px;
}

.col2 {
    flex: 1;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imageWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imagenDetalle {
    padding: 16px;
    width: 300px;
    height: 300px;
    object-fit: contain;
    border: 1px solid #ccc; /*Op: ayuda a visualizar el espacio */
    background-color: #fff; /* Op: da fondo a espacios vacíos */
    border-radius: 8px;
    margin-top: 10px;
}
.tituloDetalle {
    font-size: 1.2em; /* Más grande que los demás */
    font-weight: bold;
    margin-bottom: 10px;
}
/* Fila horizontal que contiene ID, Categoría y Favorito */
.infoFila {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
}

.idCircle {
    background-color: #eee;
    color: #333;
    font-size: 0.8em;
    font-weight: bold;
    padding: 6px 10px;
    border-radius: 16px;
    text-align: center;
    min-width: 32px;
    min-height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.lineaDivisoria {
    border: none;
    border-top: 1px solid #ccc;
    margin: 16px 0;
}
.precioDetalle {
    font-size: 1.2em;
    font-weight: bold;
    color: #4675b9;
    margin-bottom: 8px;
}
.parrafoDetalle {
    font-size: 1em;
    margin-bottom: 8px;
}
.strongDetalle {
    font-weight: bold;
} 
.iconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px; /* Igual altura que los otros elementos */
}
.iconButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
}

.iconButton:hover {
    color: #d00;
}

.centeredButtonContainer {
    text-align: center;
    margin-top: 30px;
}

.backButton {
    background-color: #4d4c4c;
    color: white;
    padding: 10px 18px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.backButton:hover {
    background-color: #4d4c4c;
}